<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx.xsd
 http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!-- 启动spring注解 -->
    <context:annotation-config/>
    <!-- 扫描注解所在的包 -->
    <context:component-scan base-package="com.wujq">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RequestMapping"/>
    </context:component-scan>
    <!-- 启动aop注解 -->
    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
    <!-- 加载属性文件 -->
    <context:property-placeholder location="classpath:/jdbc.properties"/>

    <!--配置数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.mysql.driver}"/>
        <property name="url" value="${jdbc.mysql.url}"/>
        <property name="username" value="${jdbc.mysql.username}"/>
        <property name="password" value="${jdbc.mysql.password}"/>
    </bean>

    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactoryBean">
        <!--加载mybatis核心配置文件-->
        <property name="configLocation" value="classpath:/mybatis-config.xml"></property>
        <!--加载映射文件-->
        <property name="mapperLocations" value="classpath*:/com/**/domain/*Mapper.xml"></property>
        <!--配置mybatis数据源-->
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--接口代理的配置-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.wujq.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"></property>
    </bean>
    <!--配置事务管理器-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <!--配置数据源-->
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--启动事务管理器注解模式-->
    <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->
    <!--通知哪些方法需要事务-->
    <tx:advice id="methodAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>
    <!--通知哪个层次方法需要事务-->
    <aop:config>
        <aop:pointcut id="serviceMethodPointcut" expression="execution(* com..service.*.*(..))"/>
        <aop:advisor advice-ref="methodAdvice" pointcut-ref="serviceMethodPointcut"></aop:advisor>
    </aop:config>
    <!--实例化jdbcTemplate（可选）-->
    <bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
</beans>