<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx.xsd
 http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- start spring annotation -->
    <context:annotation-config/>
    <!-- scan the package of annotations -->
    <context:component-scan base-package="com.wujq">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RequestMapping"/>
    </context:component-scan>
    <!-- start aop annotations -->
    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
    <!-- load property files -->
    <context:property-placeholder location="classpath:/jdbc.properties"/>
    <!--configure data source-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.mysql.driver}"/>
        <property name="url" value="${jdbc.mysql.url}"/>
        <property name="username" value="${jdbc.mysql.username}"/>
        <property name="password" value="${jdbc.mysql.password}"/>
    </bean>
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactoryBean">
        <!--load mybatis core configure file-->
        <property name="configLocation" value="classpath:/mybatis-config.xml"></property>
        <!--load mapper files-->
        <property name="mapperLocations" value="classpath*:/mappers/*Mapper.xml"></property>
        <!--configure mybatis data source-->
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--configure interface proxy-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.wujq.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"></property>
    </bean>
    <!--configure datasource transaction-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <!--configure data source-->
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--start datasource transaction annotation method-->
    <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->
    <!--notify which methods need transaction-->
    <tx:advice id="methodAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>
    <!--notify which layers need transaction-->
    <aop:config>
        <aop:pointcut id="serviceMethodPointcut" expression="execution(* com..service.*.*(..))"/>
        <aop:advisor advice-ref="methodAdvice" pointcut-ref="serviceMethodPointcut"></aop:advisor>
    </aop:config>
    <!--jdbcTemplate-->
    <bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
</beans>